<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summary.im.server.mapper.ChatMapper">

    <select id="selectTeamChatByChatId" resultType="com.summary.im.server.entity.ChatDO">
        select chat_id,from_user_id,to_user_id,team_id from chat where team_id = (select team_id from chat where chat_id = #{chatId})
    </select>

    <select id="selectTeamChatByTeamId" resultType="com.summary.im.server.entity.ChatDO">
        select chat_id,from_user_id,to_user_id,team_id from chat where team_id = #{teamId})
    </select>
</mapper>
